///
/// Dimension by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	#header {
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('align-items', 'center');
		@include vendor('transition', (
			'transform #{_duration(article)} ease-in-out',
			'filter #{_duration(article)} ease-in-out',
			'opacity #{_duration(article)} ease-in-out',
		));
		/* background-image: -moz-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
		background-image: -webkit-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
		background-image: -ms-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
		background-image: radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%); */
		max-width: 100%;
		/* text-align: center; */

		> * {
			@include vendor('transition', 'opacity #{_duration(article)} ease-in-out');
			position: relative;
			margin-top: 3.5rem;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: calc(-3.5rem - #{_size(border-width) * 1});
				left: calc(50% - #{_size(border-width) / 2 });
				width: _size(border-width);
				height: calc(3.5rem + #{_size(border-width) * 1});
				background: _palette(border);
			}
		}

		> :first-child {
			margin-top: 0;

			&:before {
				display: none;
			}
		}

		.logo {
			width: 5.5rem;
			height: 5.5rem;
			line-height: 5.5rem;
			border: solid _size(border-width) _palette(border);
			border-radius: 100%;

			.icon {
				&:before {
					font-size: 2rem;
				}
			}
		}

		.content {
			border-style: solid;
			border-color: _palette(border);
			/* border-top-width: _size(border-width); */
			border-bottom-width: _size(border-width);
			max-width: 100%;

			.inner {
				@include vendor('transition', (
					'max-height #{_duration(intro)} ease',
					'padding #{_duration(intro)} ease',
					'opacity #{_duration(article)} ease-in-out'
				));
				@include vendor('transition-delay', '0.25s');
				padding: 1.5rem 0rem;
				/* max-height: 40rem; */
				overflow: hidden;

				max-width: 1000px;
				@include breakpoint(large) {
					max-width: 100%
				}

				> :last-child {
					margin-bottom: 0;
				}

				h1 {
					border-bottom:  _size(border-width) solid;
				}
			}

			p {
				/* text-transform: uppercase; */
				/* letter-spacing: _font(letter-spacing); */
				/* font-size: 0.8rem; */
				line-height: 1.5;
			}
		}

		nav {
			border: solid _size(border-width) _palette(border);
			border-radius: _size(border-radius);
			background-color: _palette(bg-alt);

			ul {
				@include vendor('display', 'flex');
				margin-bottom: 0;
				list-style: none;
				padding-left: 0;
				text-align: center;

				&.superior {
					li {
						border-bottom: _size(border-width) solid;
						@include breakpoint(xsmall) {
							border-bottom: 0;
						}
						&:last-child {
							@include breakpoint(xsmall) {
								border-bottom: _size(border-width) solid;
							}
						}
					}

				}

				li {
					padding-left: 0;
					border-left: solid _size(border-width) _palette(border);



					&:first-child {
						border-left: 0;
					}

					a {
						display: block;
						min-width: 9rem;
						height: 2.75rem;
						line-height: 2.75rem;
						padding: 0 1.25rem 0 (1.25rem + _font(letter-spacing));
						text-transform: uppercase;
						letter-spacing: _font(letter-spacing);
						/* font-size: 0.8rem; */
						border-bottom: 0;
/* 						@include breakpoint(small) {
							min-width: 6.5rem;
							padding: 1em .75rem 0 (.75rem + _font(letter-spacing));
						}
						@include breakpoint(medium) {
							min-width: 8rem;
							padding: 0 1rem 0 (1rem + _font(letter-spacing));
						} */

						&:hover {
							background-color: _palette(bg);
						}

						&:active {
							background-color: _palette(bg);
						}
					}
				}
			}

			&.use-middle {
				/* &:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: calc(50% - #{_size(border-width) * 1});
					width: _size(border-width);
					height: 100%;
					background: _palette(border);
				} */

				ul {
					li {
						&.is-middle {
							border-left: 0;
						}
					}
				}
			}
		}

		body.is-article-visible & {
			@include vendor('transform', 'scale(0.95)');
			@include vendor('filter', 'blur(0.1rem)');
			opacity: 0;
		}

		body.is-loading & {
			> * {
				opacity: 0;
			}

			@include vendor('filter', 'blur(0.125rem)');

			.content {
				.inner {
					max-height: 0;
					padding-top: 0;
					padding-bottom: 0;
					opacity: 0;
				}
			}
		}

		@include breakpoint(medium) {
			.content {
				p {
					br {
						display: none;
					}
				}
			}

			nav {
				ul {
					li {
						a {
							/* min-width: 8rem; */
							padding: 0 1rem 0 (1rem + _font(letter-spacing));
						}
					}
				}
			}
		}

		@include breakpoint(small) {
			> * {
				margin-top: 2rem;

				&:before {
					top: calc(-2rem - #{_size(border-width) * 1});
					height: calc(2rem + #{_size(border-width) * 1});
				}
			}

			.logo {
				width: 4.75rem;
				height: 4.75rem;
				line-height: 4.75rem;

				.icon {
					&:before {
						font-size: 1.75rem;
					}
				}
			}

			.content {
				.inner {
					padding: 2.5rem 1rem;
				}

				p {
					line-height: 1.875;
				}
			}
		}

		@include breakpoint(xsmall) {
			padding: 1.5rem 0;

			.content {
				.inner {
					padding: 2.5rem 0;
				}
			}

			nav {
				ul {
					@include vendor('flex-direction', 'column');
					min-width: 10rem;
					max-width: 100%;

					li {
						border-left: 0;
						border-top: solid _size(border-width) _palette(border);

						&:first-child {
							border-top: 0;
						}

						a {
							height: auto;
							line-height: 3rem;
							min-width: 0;
							width: 100%;							
							padding: .75rem;
						}
					}
				}

				&.use-middle {
					&:after {
						display: none;
					}
				}
			}
		}
	}